@import url('https://fonts.googleapis.com/css2?family=Inter&family=Manrope&family=Nunito+Sans&family=Playfair+Display&family=Poppins&family=Roboto&family=Rubik&family=Rubik+Gemstones&family=Sora&family=Tauri&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.google {
    width: 100%;
    height: 100vh;
    font-family: 'Nunito Sans', sans-serif;
    overflow: hidden;
    font-size: 20px;
    
}

li{
    list-style: none;
    margin: 30px;
    
}

a{
    text-decoration: none;
    color: grey;
    font-size: 23px;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
   
}

.navbar ul{
    display: flex;
   
}

.navbar ul li{
    margin-right: 30px;
}

.img-items{
    display: flex;
    width: 200px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
}



.img-logo{
    position: absolute;
    width: 500px;
    height: 249px;
    margin-left: 38%;
    top: 14%;
    
}
.google-search{
    position: absolute;
    display: flex;
    justify-content:space-around;
    width: 900px;
    height: 80px;
    border: 2px solid grey;
    border-radius: 50px;
    left: 50%;
    top: 35%;
    transform: translate(-50%);
    font-size: 40px;
    
}

.google-search input{
    position: absolute;
    width: 690px;
    height: 76px;
    left: 75px;
    border: white;
   
}


.img-microphone{
    position: absolute;
    left: 86%;
    top: 35%;
}



.img-camera{
    position: absolute;
    left: 93%;
    top: 34%;
}


.search{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 3%;
    top: 31%;
}


.text-1 {
    position: absolute;
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 47%;
    left: 50%;
    transform: translate(-50%);
}
.text-2 {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%);
    width: 13%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.text-2 a{
    color: blue !important;
}

footer{
    position: absolute;
    margin-bottom: 0; 
    top: 76%;
    width: 100%;
}
.footer-1 {
    /*position: absolute;*/
    
    margin-left: 66px;
}

.foooter-2 {
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 40px !important;
    height: 20px;
    top: 80%;
}

.items-left ul, .items-right ul {
    display:flex;
    flex-direction: row;
       
}







